/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

 .parent_payment {
 	padding: 20px;
 }
.payment_col {

	padding: 40px;
	/*background: #f1f1f1;*/
	/*border-left:3px solid #dadada;*/
/*	background: #fafafa;
	box-shadow: 1px 1px 10px #d0d0d0;
	border-radius: 10px;*/
}

 .card-element {
 	margin-top: 20px;
 }
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #d3d3d3;
  /*border-radius: 4px;*/
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#payment-form label {
	font-weight: 600;
}

#payment-form button {
	width: 100%;
	background: black;
	color: white;
	font-weight: 600;
	padding: 10px;
	border:none;
	margin-top: 20px;
}



.billing_head {
	text-align: center;
}

.item_to_pay {
	padding: 40px;	
}