._web_mid_container {
	width: 75%;
	margin: auto;
		position: relative;
}

._web_full_container {
	width: 100%;
}

.web_clear_content {
	display: block;
	content: "";
	clear: both;
}

._web_left_content {
	width: 50%;
	float: left;
	min-height: 10px;
	padding: 10px;
}

.web_center_content {
	text-align: center;
}

._web_right_content {
	width: 50%;
	float: right;
	padding: 10px;
}

._web_icons {
	width: 30px;
	height: 20px;
	opacity: 0.8;
	/*height: 20px;*/
}

._inner_left_content {
	text-align: left;
}

._inner_right_content {
	text-align: right;
}


._text_black {
	color: #333;
}


.nav_bar_icons {
	font-size: 20px;
	margin: 10px;
}

._web_navs {
	font-size: 15px;
	margin : 20px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}


._bottom_nabvar {
	border-bottom: 2px solid #dddd;
	padding-top: 50px;
	padding-bottom: 10px;
}

._bottom_nabvar a {
	color: black;
}

.show_case {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 20px;
}
.show_case img{
	width: 100%;
	z-index: 3;
}

.show_case h2 {
	font-size: 50px;
}

.show_case_title {
	padding: 20px;
	padding-bottom: 50px;
}

.show_case_title a{
	color: black;
	font-size: 15px;
}

.trending_box {
	margin-top: 50px;
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
}

.inner_trending_box {
	width: 33%;
	float: left;
	padding: 10px;
}

.inner_trending_box img {
	width: 100%;
	z-index: 4;
}

#TrendingShow {
	display: none;
	z-index: 4;
}


#fashbelle_navbar {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	background: white;
}

#fashbelle_mobile_navbar {
	display: none;
}

.web_navigation {
	height: 200px;
	z-index: 5;
}

._web_footer {
	width: 100%;
	background: #f4f4f4;
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
}
._web_footer ul {
	list-style-type: none;
	padding-left: 0;
}

._web_footer li {
	padding-bottom: 15px
}

._web_footer ._web_right_content {
	padding-left: 90px;
}

.show_case_trending {
	padding-bottom: 100px;
}

._footer_get_email {
	padding-top: 50px;
	padding-right: 100px;
}

._input_group input{
	width: 70%;
	float: left;
}

._input_group button {
	float: right;
}

._footer_get_socmeds {
	padding-top: 30px;
	padding-bottom: 30px;
}

._footer_get_socmeds a {
	color: black;
	font-size: 30px;
	margin-right: 40px;
}


._web_search {
	width: 100%;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	display: none;

}


#search_bar {
	height: 100px;
	padding: 10px;
	padding-bottom: 0;
	font-size: 50px;
	width: 90%;
	border: none;
	
}


.search_input_holder {
	border-bottom: 2px solid #d3d3d3;
}


input:focus {
	outline: none!important;
}


#btn_close_search {
	position: absolute;
	right: 0;
	font-size: 30px;
	background: transparent;
	border:none;
	top: 20px;
	color: #686868;
}

ul._bread_crumbs li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul._bread_crumbs li {
  	display: inline;
  	font-size: 12px;
 	font-family: 'Raleway', sans-serif;
 	cursor: pointer;

}

._bread_crumbs li a {
	text-decoration: none;
	color: black;
}

.shop_content_holder {
	/*padding-top: 30px;*/
	margin-right: 0!important;
}

._web_shop_side_cat {
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 12px;
	margin-top: 50px;
}

._web_shop_side_cat li {
	margin-bottom: 20px;
}


._web_shop_side_cat h4 {
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

._web_item {
	padding-top: 50px;
}

._web_item h4 {
	font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

._web_item ._web_left_content {
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}

._web_item button {
	background: transparent;
	border:none;
	color: black;
}

._web_item ._web_right_content {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

._web_item_list {
	width: 100%;
	padding-top: 10px;
}

._item {
	width: 24.5%;
	display: inline-block;
	height: 550px;
	padding: 10px;
	cursor: pointer;
}

._item img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

._item_description {
	width: 100%;
	padding-top: 10px;
}

._item_description h5{
	font-size: 18px;
	font-family: 'Oswald', sans-serif;

}

._item p {
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

._item_color img{
	height: 20px;
	width: 20px;
	border-radius: 100px;
	cursor: pointer;
}

._item_color img:hover {
	border:1px solid gray;
	padding: 1px;
}

._item_color_active {
	padding: 1px;
	border:1px solid black;
}

.item_after_hover {
	width: 100%;
	display: none;
}

.item_after_hover img {
	width: 100%;
	height: 320px;
}

.item_after_hover button {
	width: 100%;
	height: 30px;
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
}

.item_after_hover button:hover {
	background: black;
	color: white;
}

._web_log_reg_form {
	padding-top: 20px;
}

._web_log_reg_form {
	font-family: 'Raleway', sans-serif;
}

._web_register {
	padding-right: 30%;
	padding-bottom: 100px;
}

._web_register ul {
	padding-top: 20px;
	list-style: none;
	padding-left: 0;
}

._web_register li {
	padding-bottom: 30px;
}




._web_register label {
	font-weight: 900;
	font-size: 12px;
}

._web_register select {
	width: 100%;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	border:1px solid #d3d3d3;

}

select:focus  {
	outline: black;
	border:1px solid black;
}


._web_register option {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

._web_register input {
	width: 100%;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	border:1px solid #d3d3d3;
}

._web_register ._web_left_content select {
	width: 95%;
}


._web_register ._web_right_content select {
	width: 95%;
}

._web_register ._web_right_content {
	text-align: right;
}

._web_register p {
	margin-top: 40px;
	font-weight: 500;
	font-size: 13px;
	color: #707070;
}

._web_terms_condition {
	width: 100%;
	margin-bottom: 20px;
}

._web_terms_condition input {
	width: 5%;
	float: left;
	border:1px solid #e3e3e3;
	background: transparent;
}

._web_terms_condition p {
	margin: 0;
	color: black;
	font-weight: 600;
	float: left;
	width: 90%;
}

._web_register button {
	border:none;
	margin-top: 20px;
	padding: 10px;
	width: 50%;
	background: black;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

._web_log_reg_form ._web_login {
	padding-left: 30%;
	padding-right: 20%;
    padding-bottom: 100px;
}

._web_login ul {
	padding-top: 10px;
	list-style: none;
	padding-left: 0;
}

._web_login li {
	padding-bottom: 30px;
}



._web_login input {
	width: 100%;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	border:1px solid #d3d3d3;
}


._web_login label {
	font-weight: 900;
	font-size: 12px;
}

._web_login a {
	color: black;
	text-decoration: none;
}



input:focus {
	outline: black;
	border:1px solid black;
}


._web_rember_section input[type="checkbox"] {
	width: 20px;
}

._web_login button {
	border:none;
	margin-top: 20px;
	padding: 10px;
	background: black;
	color: white;
	font-weight: 600;
	font-size: 12px;
	width: 100%;
}


._web_nav_overlay_login {
	width: 500px;
	background: #fefefe;
	box-shadow: 1px 1px 20px #3333;
	position: absolute;
	right: -5%;
	top: 40px;
	padding: 10px;
	padding-bottom: 30px;
	padding-left: 35px;
	padding-right: 35px;
	transform: scale(0);
}


._web_nav_overlay_login ._web_login {
	padding: 0;
}

._web_nav_overlay_login button {
	border: none;
	margin-top: 20px;
	padding: 10px;
	background: black;
	color: white;
	font-weight: 600;
	font-size: 12px;
 	width: 100%;
 	margin-bottom: 50px;

}

._cart_header {
	padding-bottom: 10px;
	padding-top: 30px;
	border-bottom: 1px solid #f3f3f3;
}

._cart_header h2 {
	font-weight: 300;
}

._cart_left {
	width: 75%;
	float: left;
	padding-right: 30px;
}

._cart_right {
	padding-left: 30px;
	padding-top: 40px;
	width: 25%;
	float: right;
}

.header_cart {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #f3f3f3;
}

.header_cart label {
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

._prod_desc {
	width: 55%;
	float: left;
	text-align: left;
}

._prod_price {
	width: 15%;
	float: left;
	text-align: center;

}

._prod_quantity {
	width: 15%;
	float: left;
	text-align: center;

}

._prod_subtotal {
	width: 15%;
	float: left;
	text-align: center;

}

._prod_desc ._cart_item_img  {
	width: 30%;
	float: left;
}

._prod_desc ._cart_item_desc {
	float: right;
	width: 70%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 80px;
}

._prod_desc ._cart_item_desc h5 {
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-bottom: 15px;
}

._prod_desc ._cart_item_desc p {
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

._cart_text {
	/*font-weight: 600;*/
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

._option_btn {
	/*padding-top: 80px;*/
}


._prod_desc ._cart_item_img img {
	width: 100%;
}

._cart_item_list {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 20px;
}

._option_btn button {
	background: black;
	width: 32%;
/*	padding-left: 20px;
	padding-right: 20px;*/
	background: transparent;
	border:none;
	font-weight: 600;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
}

.m_option_btn {
	display: none;
}

._prod_quantity select {
	width: 100%;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	border:1px solid #d3d3d3;

}

._web_inner_os {
	background: #e8e8e8;
	width: 100%;
	/*height: 500px;*/
	text-align: center;
	padding: 10px;
}

._web_inner_os ._web_left_content {
	padding-bottom: 0;
	padding-top: 0;
}

._web_inner_os ._web_right_content {
	padding-bottom: 0;
	padding-top: 0;
}

._web_inner_os h2 {
	font-size: 15px;
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
}

._web_inner_os label {
	font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}


._web_order_summary button {
	border: none;
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    margin-bottom: 50px;
}

.mobile_option {
	display: none;
}

select:focus  {
	outline: black;
	border:1px solid black;
}


.cart_info {
	background: #f3f3f3;
	width: 100%;
	height: 240px;
	text-align: center;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.cart_info img {
	height: 50px;
	width: 50px;
	margin: 5px;
}

.bag_info {
	width: 32%;
	float: left;
	padding: 20px;
}

.cart_info p {
	font-size: 50px;
}

.left_account {
	width: 25%;
	float: left;
}

.right_account {
	width: 75%;
	float: right;
}

._web_account_info ._web_mid_container {
	padding-top: 20px;
}

._web_inner_account {
	padding-bottom: 30px;
}


._web_inner_account h2{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

._web_inner_account label{
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

._web_inner_account p{
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

._web_profile {
	padding: 20px;
	padding-top: 30px;
}

._web_profile h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
}



.web_address h2, h3 ,h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
}

.web_address label , small {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	display: block;
}

._web_profile label , small {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	display: block;
}

._profile_col {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom :1px solid #dedede;
	padding-right: 30%;
}

._profile_col p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 13px;
	font-weight: 600;
}

._profile_col button {
	border: none;
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 12px;
    width: 50%;
    margin-bottom: 50px;
}

._address_col {
	padding-top: 20px;
}



@media only screen and (min-width: 1025px) and (max-width: 1300px) {


	.payment_info {
		width: 100%!important;
		padding-right: 0;
	}

	._item {
		width: 49.5%;
		display: inline-block;
		height: 550px;
		padding: 10px;
	}


	._web_register {
		padding-right: 0%;
	}


	._web_login {
		padding-left: 0%;
		padding-right: 0%;
	    padding-bottom: 50px;
	}

}

@media only screen and (max-width: 1024px) {


	._item {
		width: 49.5%;
		display: inline-block;
		height: 550px;
		padding: 10px;
	}

	._web_mid_container {
		width: 95%;
		margin: auto;
	}

	#TrendingShow {
		display: block;
		text-align: center;
	}

	#TrendingShow .left {
		background-image: linear-gradient(to right,rgba(255, 255, 255, 0.5) 0,rgba(255, 250, 250, 0.0001) 100%);
	}


	#TrendingShow .right {
		background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(255, 255, 255, 0.5) 100%);
	}


	
	.web_navigation {
		height: 80px;
	}


	.inner_trending_box {
		width: 100%;
		float: left;
		padding: 20px;
	}


	.show_case_trending {
		display: none;
	}

	.show_case img{
		z-index: 3;
		width: 100%;
		height: 500px;
		object-fit: cover;
		object-position: center;
	}

	._footer_get_email {
		padding-top: 20px;
		padding-right: 0;

	}

	._footer_get_email h3{
		font-size: 20px;
	}


	#fashbelle_navbar {
		display: none;
	}

	#fashbelle_mobile_navbar {
		z-index: 5;
		display: block
	}

	.m_web_full_content {
		width: 100%;
	}


	._web_footer ._web_right_content {
		padding-left: 0px;
	}

	._web_footer h2 {
		font-size: 20px;
	}

	#search_bar {
		font-size: 25px;
		width: 80%;
	}


	#btn_close_search {
		font-size: 20px;
		top: 30px;
	}

	._web_register {
	    padding-right: 0%;
	}

	._web_register button {
		width: 100%;
	}



	._web_log_reg_form ._web_login {
	    padding-left: 0%;
	    padding-right: 0%;
	    padding-bottom: 100px;
	}


	.m_web_full_content .row {
		margin-right: 0!important;
	}

	._cart_header {
		padding-top: 0;
	}

	._cart_header .m_web_full_content{
		text-align: center;
		padding-bottom: 0;
		padding-top: 0;
	}


	._cart_header ._web_left_content h2{
		font-weight: 600;
		font-family: 'Raleway', sans-serif;

	}

	._cart_header ._web_right_content h2{
		font-size: 20px;

	}


	._cart_header .m_web_full_content small{
		display: none;
	}




	._cart_left {
		width: 100%;
		padding-right: 0;
	}

	._cart_right {
		width: 100%;
		padding-left: 0;
	}

	.header_cart {
		display: none;
	}

	._prod_desc {
		width: 100%;
	
	}

	.mobile_option ._prod_quantity{
		display: block;
	}

	.mobile_option ._prod_price {
		display: block;
	}


	.mobile_option  ._prod_subtotal{
		display: block;
	}


	._prod_price {
		width: 100%;
		display: none;
		

	}

	._prod_quantity {
		width: 100%;
		display: none;
		

	}

	._prod_subtotal {
		width: 100%;
		display: none;
		
	}

	.mobile_option {
		display: block;
	}

	.pc_option_btn {
		display: none;
	}

	.m_option_btn {
		display: block;
	}

	.bag_info {
		width: 100%;
	}

	.cart_info {
	    background: transparent;
	    border-bottom: 1px solid #d3d3d3;
	}




}